/* style/marqueeStyle.css */

.marquee-columns {
  display: flex;
  height: 100vh;
  overflow: hidden;
  gap: 1rem;
  padding: 2rem;
  /* box-sizing: border-box; */
}

.marquee-column {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.marquee-track {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  animation: scrollUp 20s linear infinite;
}

.marquee-track.reverse {
  animation: scrollDown 30s linear infinite;
}

@keyframes scrollUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
